
.section-subscribe-partners {
  //height: 692px;
  text-align: center;
  //background: url('/static/bg/section-3.png') center no-repeat;
  .text-features {
    margin-top: 32px;
  }

  .subscribe-form {
    margin: 52px auto 0 auto;
    width: 50%;
    height: 60px;
    input {
      color: #4a4a4a;
      width: 80%;
      height: 60px;
      float: left;
      padding: 0 0 0 32px;
      border: none;
    }
    button {
      color: #fff;
      background: -webkit-linear-gradient(left top, #59b0d6, #367fc0);
      background: -o-linear-gradient(bottom right, #59b0d6, #367fc0);
      background: -moz-linear-gradient(bottom right, #59b0d6, #367fc0);
      background: linear-gradient(to bottom right, #59b0d6, #367fc0);
      width: 20%;
      height: 60px;
      border: none;
    }
  }

  .section-partners {
    margin-top: 132px;
    margin-bottom: 95px;
    .section-title {
      margin-bottom: 24px;
    }
    .partner-item {
      height: 100px;
      line-height: 100px;
    }
  }

  .partner-item-1 {
    width: 104px;
  }

  .partner-item-2 {
    width: 150px;
  }
  //.partner-item-3 {
  //  width: 106px;
  //}
  .partner-item-4 {
    width: 64px;
  }
  .partner-item-5 {
    width: 59px;
  }
  .partner-item-6 {
    width: 105px;
  }
  .partner-item-7 {
    width: 61px;
  }
  @media screen and (max-width: 768px) {
    position: relative;
    background: none;
    z-index: 10;
    .section-partners{
      margin-bottom: 50px;
    }
    .section-partners .partner-item {
      margin-bottom: 0;
    }
    .section-subscribe {
      margin-top: 130px;
    }
    .subscribe-form {
      width: 100%;
      input {
        width: 70%;
      }
      button {
        width: 30%;
      }
    }
  }
}