@import '../../../styles/mixins.less';

.section-banner {
  color: #fff;
  &.hideDetail {
    .page-banner-text-wrap, .page-banner-download-wrap {
      display: none;
    }
    .page-banner-title {
      margin-bottom: 115px;
    }
  }
  .banner-icon {
    width: 20px;
    vertical-align: top;
    margin-right: 11px;
  }

  .page-banner-title {
    margin-top: 158px;
    font-size: 48px;
  }
  .page-banner-text-wrap {
    margin-top: 35px;
    margin-left: 0;
    list-style: none;
    padding-left: 0;
  }
  .page-banner-text {
    margin-bottom: 15px;
  }
  .page-banner-content {
    display: inline-block;
    width: 85%;
  }
  .page-banner-download-wrap {
    margin-top: 60px;
  }
  .banner-download {
    display: inline-block;
    border-radius: 4px;
    .blue-white-gradient();
    padding: 0 28px;
    text-align: center;
    height: 45px;
    line-height: 45px;
    margin-right: 16px;
    &:hover {
      color: #fff !important;
    }
  }
  .download-link {
    display: inline-block;
    padding-bottom: 10px;
    // margin-top: 20px;
    // margin-left: 180px;
    text-align: end;
    vertical-align: bottom;
    &:hover {
      color: #fff !important;
    }
  }
}

@media screen and (max-width: 992px) {
  .section-banner {
    .page-banner-download {
      width: 30%;
    }
  }
}

@media screen and (max-width: 768px) {
  .section-banner {
    margin-top: 0;
    margin-bottom: 44px;
    .page-banner-title {
      margin-top: 56px;
      font-size: 24px;
    }
    .banner-download {
      width: 100%;
    }
    &.hideDetail {
      .page-banner-text-wrap, .page-banner-download-wrap {
        display: none;
      }
      .page-banner-title {
        margin-top: 64px;
        margin-bottom: 48px;
      }
    }
    .banner-download {
      margin-bottom: 28px;
    }
  }
}