.section-banner {
  color: #fff;
  &.hideDetail {
    .page-banner-text-wrap, .page-banner-download-wrap {
      display: none;
    }
    .page-banner-title {
      margin-bottom: 115px;
    }
  }
  .banner-icon {
    width: 20px;
    vertical-align: top;
    margin-right: 11px;
  }

  .page-banner-title {
    margin-top: 158px;
    font-size: 48px;
  }
  .page-banner-text-wrap {
    margin-top: 35px;
    margin-left: 0;
    list-style: none;
    padding-left: 0;
  }
  .page-banner-text {
    margin-bottom: 15px;
  }
  .page-banner-content {
    display: inline-block;
    width: 85%;
  }
  .page-banner-download-wrap {
    margin-top: 35px;
  }
  .page-banner-download-ios {
    width: 135px;
    height: 40px;
    display: inline-block;
    margin-right: 20px;
  }

  .page-banner-subscribe{
    display: inline-block;
    height: 40px;
    width: 135px;
    border-radius: 5px;
    border: none;
    background: rgba(150, 150, 150, .5);
    &:hover{
      background: rgba(120, 120, 120, .5);
    }
  }

  .ios-download {
    width: 100%;
  }
  .page-banner-download-android {
    width: 135px;
    height: 40px;
    display: inline-block;
    margin-right: 20px;
  }
  .android-download {
    width: 100%;
  }

}

@media screen and (max-width: 768px) {
  .section-banner {
    margin-top: 0;
    .page-banner-title {
      font-size: 24px;
    }
    &.hideDetail {
      .page-banner-text-wrap, .page-banner-download-wrap {
        display: none;
      }
      .page-banner-title {
        margin-top: 64px;
        margin-bottom: 48px;
      }
    }
    .page-banner-download-ios {
      margin-right: 10px;
    }
    .page-banner-subscribe {
      margin-top: 16px;
    }
  }
}