@import '../../layouts/mixins.less';

.social-link{
  margin: 16px auto;
}

.social-link.social-link-dark {
  .social-link-item {
    background: #202126;
  }
}

.social-link.social-link-gradient {
  .social-link-item{
    .blue-white-gradient();
  }
  div{
    float: left;
  }
}

.social-link > div {
  font-size: 14px;
  float: right;
}

.social-link-item {
  color: #fff;
  white-space: nowrap;
  border-radius: 5px;
  margin-right: 10px;
  padding: 0 18px;
  line-height: 45px;
  width: 120px;
}

.social-link-text {
  vertical-align: top;
}

.footer-link-wrap {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-link-wrap > li > a {
  color: #9b9b9b;
}

.footer-link-wrap > li {
  margin-bottom: 12px;
}

.footer-link-wrap > li > a:hover {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .social-link {
    padding: 0 15px;
  }

  .social-link > div {
    float: none;
    display: inline-block;
  }

  .social-link-item {
    margin: 8px 8px 8px auto;
  }
}

@media screen and (max-width: 990px) {
  .social-link > div {
    float: left;
  }
}