.article-page{
  .bread-crumb{
    background: #fff;
    border-radius: 5px;
    margin-bottom: 15px;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    padding: 0 50px;
    color: #4a4a4a;
  }
  .article-page-wrap{
    background: #fff;
    border-radius: 5px;
    .article-tag{
      color: #838d8f;
      font-size: 12px;
      margin: 50px 0 20px 0;
    }
    .article-title{
      margin-bottom: 20px;
      font-size: 52px;
      color: #3c3d41;
    }
    .article-divider {
      width: 70px;
      height: 2px;
      background: #609ee9;
      margin: 32px 0;
    }
    .article-content{
      color: #666d70;
      h2{
        font-size: 36px;
        margin: 52px 0 36px 0;
      }
      p {
        font-size: 18px;
        line-height: 27px;
      }
      li{
        font-size: 18px;
      }
      a {
        color: #59b0d6;
      }
    }
  }
}