footer {
  font-size: 16px;
  color: #9b9b9b;
  background: #0f1013;
}

.footer-container {
  padding: 24px;
  border-top: 1px solid rgba(255, 255, 255, .1);
}

.social-link{
  margin: 16px auto;
}

.social-link > div {
  font-size: 14px;
  float: right;
}

.social-link-item {
  color: #fff;
  white-space: nowrap;
  background: #202126;
  border-radius: 5px;
  margin-right: 10px;
  padding: 0 18px;
  line-height: 45px;
  width: 120px;
}

.social-link-text {
  vertical-align: top;
}

.footer-link-wrap {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-link-wrap > li > a {
  color: #9b9b9b;
}

.footer-link-wrap > li {
  margin-bottom: 12px;
}

.footer-link-wrap > li > a:hover {
  color: #fff;
}

.footer-logo {
  background: #202126;
  height: 72px;
  line-height: 64px;
}

.footer-logo-img {
  opacity: .2;
  height: 35px;
}

.footer-location {
  float: right;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .footer-location {
    margin: 28px auto;
  }

  .social-link {
    padding: 0 15px;
  }

  .social-link > div {
    float: none;
    display: inline-block;
  }

  .social-link-item {
    margin: 8px 8px 8px auto;
  }

  .footer-container {
    padding: 24px 54px;
  }
}

@media screen and (max-width: 990px) {
  .footer-location {
    margin: 28px auto;
  }

  .social-link > div {
    float: left;
  }
}