.page-banner{
  .page-banner-title{
    color: #fff;
    font-size: 48px;
    margin: 158px auto 115px auto;
  }
}

@media screen and (max-width: 768px){
  .page-banner{
    .page-banner-title{
      font-size: 36px;
      margin: 64px auto 48px auto;
    }
  }
}