a {
  color: #fff !important;
}

a:hover {
  color: #ccc !important;
  cursor: pointer !important;
}

.section-wrap {
  width: 100%;
}

.section-title {
  font-size: 36px;
  color: #fff;
  margin: 0;
}

.section-text {
  font-size: 16px;
  color: #9b9b9b;
  line-height: 24px;
}

img {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .section-title {
    font-size: 28px;
  }
}
